{{ define "layout" }}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {{ template "navbar" .UserEmail }}
        <h1>Profile</h1>
        <form action="/profileupdate" method="post">
            <div class="form-group">
                <label for="username">Email:</label>
                <input type="text" name="email" class="form-control col-sm-4" value="{{.UserEmail}}" id="email">
            </div>
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname" class="form-control col-sm-4" value="{{.FirstName}}" id="firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname" class="form-control col-sm-4" value="{{.LastName}}" id="lastname">
            </div>
            <div class="form-group">
            <label for="access" class="col-sm-2 col-form-label">Access</label>
            <select class="form-control" id="access" name="access">
            <option {{ if eq .Access "Read"}} selected {{ end }}>Read</option>
            <option {{ if eq .Access "Write"}} selected {{ end }}>Write</option>
            <option {{ if eq .Access "Admin"}} selected {{ end }}>Admin</option>
            </select>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" name="pwd" class="form-control col-sm-4" placeholder="Enter password" id="pwd">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
                    {{ if ne .ErrorText "" }}
        <div class="alert alert-danger" role="alert">
            {{ .ErrorText }}
        </div>
        {{ end }}
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
{{ end }}
