{{ define "layout" }}
<html>
    <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

	{{ template "navbar" .UserEmail}}
	<nav aria-label="breadcrumb">
	    <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/pipelines/{{.PipelineId}}">Pipeline {{.PipelineName}}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{.Rule.Name}}</li>
	    </ol>
	</nav>
	<h3>Transform Rule: {{.Rule.Name}}</h3>

	<form action="/pipelines/{{.PipelineId}}/updatetrule/{{.Rule.Id}}" method="post">

	    <div class="form-group row">
		<label for="transformrulename" class="col-sm-2 col-form-label">Rule Name</label>
		<div class="col-sm-4">
		    <input type="text" class="form-control" id="transformrulename" name="transformrulename" value="{{.Rule.Name}}" data-toggle="tooltip" title="transform rule name of your choice">
		</div>
	    </div>
	    <div class="form-group row">
		<label for="transformrulepath" class="col-sm-2 col-form-label">Path</label>
		<div class="col-sm-4">
		    <input type="text" class="form-control" id="transformrulepath" name="transformrulepath" value="{{.Rule.Path}}" data-toggle="tooltip" title="transform rule path, format depends on scheme">
		</div>
	    </div>
	    <div class="form-group row">
		<label for="transformrulescheme" class="col-sm-2 col-form-label">Scheme</label>
		<div class="col-sm-4">
		    <select class="form-control" id="transformrulescheme" name=transformrulescheme data-toggle="tooltip" title="type of data to process" value="{{.Rule.Scheme}}">
			<option {{ if eq .Rule.Scheme "xlsx"}} selected {{ end }} >xlsx</option>
			<option {{ if eq .Rule.Scheme "csv"}} selected {{ end }} >csv</option>
			<option {{ if eq .Rule.Scheme "xml"}} selected {{ end }} >xml</option>
			<option {{ if eq .Rule.Scheme "json"}} selected {{ end }} >json</option>
			<option {{ if eq .Rule.Scheme "jsonpath"}} selected {{ end }} >jsonpath</option>
		    </select>
		</div>
	    </div>
	    <div class="form-group row">
		<label for="transformfunctionname" class="col-sm-2 col-form-label">Function Name</label>
		<div class="col-sm-4">
		    <select class="form-control" id="transformfunctionname" name="transformfunctionname" data-toggle="tooltip" title="transform function">
			{{ range .Functions }}
			<option {{.Selected}}>{{.FunctionName}}</option>
			{{ end }}
		    </select>
		</div>
	    </div>

	    <button type="submit" class="btn btn-primary">Save</button>
	    <a class="btn btn-danger" href="/pipelines/{{.PipelineId}}/deletetrule/{{.Rule.Id}}">Delete</a>

	    <input type="hidden" id="pipelineid" name="pipelineid" value="{{.PipelineId}}">
	    <input type="hidden" id="id" name="id" value="{{.Rule.Id}}">

	</form>
	{{ if ne .ErrorText "" }}
	<div class="alert alert-danger" role="alert">
	    {{ .ErrorText }}
	</div>
	{{ end }}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
{{ end }}
