{{ define "layout" }}
<html>
    <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

	{{ template "navbar" .UserEmail }}
	<nav aria-label="breadcrumb">
	    <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/pipelines/{{.PipelineID}}">Pipeline {{.PipelineName}}</a></li>
		<li class="breadcrumb-item active" aria-current="page">New Transform Function</li>
	    </ol>
	</nav>

	<h3>Create Transform Function</h3>
	<br>
	<form action="/pipelines/{{.PipelineID}}/tfunction" method="post">
	    <div class="form-group row">
		<label for="transformname" class="col-sm-2 col-form-label">Name:</label>
		<div class="col-sm-4">
		    <input type="text" id="transformname" name="transformname" data-toggle="tooltip" title="transform name of your choice" value="transforms.MyUppercase">
		</div>
	    </div>
	    <div class="form-group row">
		<label for="transformsource" class="col-sm-2 col-form-label">Transform Source:</label>
		<div class="col-sm-10">
		    <textarea class="form-control" id="transformsource" name="transformsource" data-toggle="tooltip" title="transform function source code that you design" rows="10">package transforms

      import "strings"

      func MyUppercase(s string) string {

        return strings.ToUpper(s)

      }
</textarea>
		</div>
	    </div>
	    <button type="submit" class="btn btn-primary">Save</button>
	    <input type="hidden" id="pipelineid" name="pipelineid" value="{{.PipelineID}}">
	    <input type="hidden" id="pipelinename" name="pipelinename" value="{{.PipelineName}}">
	</form>
	{{ if ne .ErrorText "" }}
	<div class="alert alert-danger" role="alert">
	    {{ .ErrorText }}
	</div>
	{{ end }}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
{{ end }}
