{{ define "layout" }}
<html>
    <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
	{{ template "navbar" .UserEmail}}
	<h1>User Administration</h1>
	<form action="/useradmin/{{.User.ID}}/update" method="post">
	    <div class="form-group">
		<label for="firstname">First Name:</label>
		<input type="text" name="firstname" class="form-control" placeholder="Enter first name" id="firstname" value="{{.User.FirstName}}">
	    </div>
	    <div class="form-group">
		<label for="lastname">Last Name:</label>
		<input type="text" name="lastname" class="form-control" placeholder="Enter last name" id="lastname" value="{{.User.LastName}}">
	    </div>
	    <div class="form-group">
		<label for="email">Email:</label>
		<input type="text" name="email" class="form-control" placeholder="Enter email address" id="email" value="{{.User.Email}}">
	    </div>
	    <div class="form-group">
		<label for="pwd">Password:</label>
		<input type="password" name="pwd" class="form-control" placeholder="Enter password" id="pwd" value="{{.User.Password}}">
	    </div>
	    <div class="form-group">
		<label for="access">Select Access:</label>
		<select class="form-control" id="access" name="access">
		    {{ range .Values }}
		    <option {{ .Selected}}>{{ .Key }}</option>
		    {{ end }}
		</select>
	    </div>
	    <button type="submit" class="btn btn-primary">Save</button>
	    <a class="btn btn-danger" href="/useradmin/{{.User.ID}}/delete">Delete</a>
	</form>
           {{ if ne .ErrorText "" }}
        <div class="alert alert-danger" role="alert">
            {{ .ErrorText }}
        </div>
        {{ end }}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
{{ end }}
